@mixin bgd-img($image) {
    background-image: url($image);
    /* background-position: bottom;*/
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @mixin flexbox($direction: row, $wrap: wrap, $justify: center, $align: center) {
    display: flex;
    align-items: $align;
  }
  
  /*
  @mixin tablets {
    @media (min-width: 768px) {
      @content;
    }
  }
  */
  
  @mixin computers {
    @media (min-width: 1290px) {
      @content;
    }
  }
  
  