/*Fonts Variables */
$ff-base: 'Roboto', sans-serif;
$ff-alt: 'Shrikhand', cursive;
$ff-clr: #242424;
$fs-base: 16px;

/*Colors Variables */
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-alt: #d6d6d6;

/*images Variables */
$img-palette: '../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg';
$img-note: '../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg';
$img-francaise: '../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg';
$img-delice: '../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg';


/*Shadows Variables */
$shadow: 0 5px 20px -10px black;
$shadow-hover: 0 15px 30px -10px black;